body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(188, 214, 205);
}

a {
  color: #00B7FF;
}

.checked {
  color: orange;
}
.unchecked {
  color: rgb(226, 220, 220);
}
.navbar-nav nav-item active {
  color: aquamarine;
}
/*
.navbar-nav a.nav-link {
  background-color: #04aa6d;
  color: white;
} */
/* .nav-item {
  overflow: hidden;
  background-color:rgb(80, 75, 68);
  color: white; 
} */
 .nav-item a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 .nav-item a:hover {
   background-color: #ddd;
   color: black;
 }
 /* .navbar a.active {
   background-color: #04aa6d;
   color: white;
 } */
 .collapse {
   background-color:rgb(180, 173, 164)
 }
 .navbar{
   background-image: linear-gradient(to right);
   color: white;
 }
 h1 {
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }